/*--------------------------------
  ヘッダー
--------------------------------*/
.header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}
.header__inner {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*--------------------------------
  フッター
--------------------------------*/
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
}
.footer__inner {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*--------------------------------
  コンテンツエリア
--------------------------------*/
.content {
  max-width: 1230px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
}
.content--hasColumn {
  display: flex;
  justify-content: space-between;
}
.content__main {
  flex: 1;
  margin-right: 3.25203%;
}
.content__side {
  flex: 0 0 260px;
}
@media screen and (max-width: 768px) {
  .content--hasColumn {
    flex-direction: column;
  }
  .content__main {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
/*--------------------------------
  ヘルパー
--------------------------------*/
.hp-btGray {
  border-top: 1px solid #777;
}
.hp-bgcBase {
  background-color: #efefef;
}
/*--------------------------------
  ボタン
--------------------------------*/
.btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}
.btn:focus,
.btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}
.btn--arrowRight {
  position: relative;
  padding-right: 2em;
  padding-left: 1.38em;
}
.btn--arrowRight::after {
  content: "\f061";
  position: absolute;
  top: 50%;
  right: 0.83em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transform: translateY(-50%);
}
.btn--large {
  width: 340px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.375rem;
}
.btn--warning {
  background-color: #f1de00;
  color: #222;
}
.btn--warning:focus,
.btn--warning:hover {
  border-color: #f1de00;
  color: #222;
}
/*--------------------------------
  角丸ボタン
--------------------------------*/
.roundedBtn {
  display: inline-block;
  width: 236px;
  max-width: 100%;
  padding: 15px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  border-bottom-color: #d40152;
  border-radius: 10px;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}
.roundedBtn:focus,
.roundedBtn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}
